/* List of user groups */
/* =================== */
#groups li {
  margin: 8px;
  display: inline-block;
  cursor: pointer;
  float: left;
}
#groups li:hover {
  text-decoration: underline;
}

/* Title above each monthly schedule */
/* ================================= */
h1 {
    margin-bottom: 60px;
}
div.jumbotron h1 {
  font-size: 3.0rem;
}

/* DOM containers for the schedules */
/* ================================ */
.container {
    max-width: 1200px !important;
}

div.schedule_container {
    overflow-x: auto;
    overflow-y: hidden;
}

/* Alert messages */
/* ============== */
.alert {
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    margin: 0;
    display: none;
}
.alert p {
    margin: 4px;
}

/* Schedule styling (table, rows, columns, cells...) */
/* ================================================= */
table {
    margin-left: 28px;
    margin-right: 28px;
    width: calc(100% - 60px) !important;
    font-size:1em;
}

td {
    height: 20px;
}

td.column {
    width: 40px;
    text-align: center;
}

th {
    display: table-header-group;
}

tr.user-hidden {
    display: none;
}

tr.row_total td {
    height: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.8em;
    font-weight: bold;
    color: #555;
    text-align: center;
}
tr.row_total td.column_users {
    text-align: right;
}
tr.row_total .warning {
    font-size: 0.9em;
    color: red;
}

tr td.column {
    cursor: pointer;
}
tr td.column:hover {
    color: black;
    transition: 0.2s ease-out;
}

td.column_users {
    width: 80px;
}

td.column_fdow {
    border-left: solid 1px black;
}
td.column_ldow {
    border-right: solid 1px black;
}

th td.column_today {
    background-color: #555;
    color: #eee;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}

/* Cell styling for each possible code */
/* =================================== */
td.code-home {
    background-color: #b2deec;
    color: #5d94a6;
}
td.code-away {
    background-color: #f1c5c5;
    color: #a35152;
}
td.code-office {
    background-color: #e5edb7;
    color: #99a651;
}
td.code-unknown {
    color: #888;
}

